<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>

    <div class="header">
        <div class="row">
            <div class="col-2">
                <img src="/images/logo.png">
            </div>
            <div class="col-10">
                <h1>Bakery Application</h1>
                <nav class="menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/categories">Categories</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/purchase">Purchase</a></li>
                        <li><a href="/purchase/history">Order History</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>The Bakery</h1>
                <p class="text-justify">
                    A bakery is an establishment that produces and sells flour-based food baked in an oven such as
                    bread, cookies, cakes, pastries, and pies. Some retail bakeries are also categorized as cafés,
                    serving coffee and tea to customers who wish to consume the baked goods on the premises.
                    Confectionery items are also made in most bakeries throughout the world.
                </p>
                <h1>History</h1>
                <p class="text-justify">Baked goods have been around for thousands of years. The art of baking was developed early during the
                    Roman Empire. It was a highly famous art as Roman citizens loved baked goods and demanded them
                    frequently for important occasions such as feasts and weddings. Because of the fame of the art of
                    baking, around 300 BC, baking was introduced as an occupation and respectable profession for Romans.
                    Bakers began to prepare bread at home in an oven, using mills to grind grain into flour for their
                    breads. The demand for baked goods persisted, and the first bakers' guild was established in 168 BC
                    in Rome. The desire for baked goods promoted baking throughout Europe and expanded into eastern
                    parts of Asia. Bakers started baking bread and other goods at home and selling them on the streets.
                </p>

                <p class="text-justify">This trend became common, and soon, baked products were sold in streets of Rome, Germany, London, and
                    more. A system of delivering baked goods to households arose as the demand increased significantly.
                    This prompted bakers to establish places where people could purchase baked goods. The first open-air
                    market for baked goods was established in Paris, and since then bakeries have become a common place
                    to purchase delicious goods and to socialize. By the colonial era, bakeries were commonly viewed in
                    this way.</p>

                <p class="text-justify">On July 7, 1928, a bakery in Chillicothe, Missouri introduced pre-cut bread using the automatic
                    bread-slicing machine, invented by Otto Frederick Rohwedder. While the bread initially failed to
                    sell, due to its "sloppy" aesthetic, and the fact it went stale faster, it later became popular. In
                    World War II bread slicing machines were effectively banned, as the metal in them was required for
                    wartime use. When they were requisitioned, creating 100 tons of metal alloy, the decision proved
                    very unpopular with housewives.</p>

                <p class="text-justify">World War II directly affected the bread industry in the UK. Baking schools closed during this time,
                    so when the war ended there was a lack of skilled bakers. This resulted in new methods being
                    developed to satisfy the world’s desire for bread, including chemical additives, premixes and
                    specialised machinery. Old methods of baking were almost completely eradicated when these new
                    methods were introduced and the industry became industrialised. The old methods were seen as
                    unnecessary and financially unsound. During this period there were not many traditional bakeries
                    left.</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Copyright By Bakery Application since 1990.</p>
    </div>

</body>

</html>